<form class="form-inline offset-md-3">
    <div class="form-group col-md-6">
      <h1>Memo</h1>
    </div>
    <div class="form-group col-md-6">
      <a class="btn btn-outline-info" href="/" role="button">一覧に戻る</a>
    </div>
</form>
<div>
  <% @memo.each do |memo| %>
    <form action="/<%= memo["id"] %>" method="POST">
      <div class="form-row">
        <div class="form-group col-md-6 offset-md-3">
          <label for="text">タイトル</label>
          <input type="text" name="memo_name" value="<%="#{memo["memo_name"]}"%>" class="form-control">        
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6 offset-md-3">
          <label for="textarea">内容</label>
          <textarea name="memo_content" rows= "15" class="form-control"><%= memo["memo_content"] %></textarea>
        </div>
      </div>
      <div>
        <input type="hidden" name="_method" value="PATCH">
        <button class="btn btn-outline-info text-center mx-auto d-block" type="submit">更新</button>
      </div>
    </form>
  <% end %>
</div>
